:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
}

.tags-container {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  margin-top: 6rem;
}

.form-control-group {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.form-control {
  color: black;
  display: flex;
  gap: 1rem;
}

.caption {
  color: black;
  text-align: center;
}
